.select2-container--default .select2-selection.s24wp-wrapper .select2-selection__rendered {
	padding: 5px 5px 0 5px !important;
	display: block !important;
}

.select2-container--default .select2-selection.s24wp-wrapper .select2-selection__choice {
	margin-top: 0 !important;
	padding: 5px !important;
}

.select2-container--default .select2-selection.s24wp-wrapper .select2-search--inline {
	margin-bottom: 0px !important;
	margin-top: -5px;
}
